.loader{
    height: 100px;
    width: 100px;
    border-top: 6px solid #03fcfc;
    border-right: 6px solid transparent;
    border-radius: 100%;
    animation: 1s spin linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    background-color: black;
    margin: 200px 700px;
}